* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea, select, input, button {
  outline: none;
}

@font-face {
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-family: "Montserrat-Bold";
}
@font-face {
  src: url("../assets/fonts/Montserrat-Medium.ttf");
  font-family: "Montserrat-Medium";
}
@font-face {
  src: url("../assets/fonts/Roboto-Black.ttf");
  font-family: "Roboto-Black";
}
@font-face {
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-family: "Roboto-Bold";
}
@font-face {
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-family: "Roboto-Regular";
}
.dark-mode .modo-diurno {
  display: none;
}
.dark-mode.active .modo-nocturno {
  display: none;
}
.dark-mode.active .modo-diurno {
  display: inline-block;
}

body {
  transition: 0.3s ease all;
}
body.dark {
  background-color: #37383C;
}

.section-header {
  width: 100%;
  position: relative;
}
.section-header .blue-line-up {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}
body.dark .section-header .blue-line-up {
  background-color: #000000;
}
.section-header .container-logo-menu {
  margin: 29px 26px 17px 22px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.section-header .container-logo-menu .link-logo-gifos .box-logo-gifos {
  width: 49px;
}
.section-header .container-logo-menu .link-logo-gifos .box-logo-gifos .logo-gifos {
  width: 100%;
  object-fit: cover;
}
.section-header .container-logo-menu .menu-gifos .checkbox-input {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 20px;
  top: 50px;
  width: 20px;
  height: 20px;
  opacity: 0;
  cursor: pointer;
}
.section-header .container-logo-menu .menu-gifos .bars-icon, .section-header .container-logo-menu .menu-gifos .close-icon {
  transition: 0.4s ease all;
  color: #572EE5;
  font-size: 20px;
}
body.dark .section-header .container-logo-menu .menu-gifos .bars-icon, body.dark .section-header .container-logo-menu .menu-gifos .close-icon {
  color: #fff;
}
.section-header .container-logo-menu .menu-gifos .close-icon {
  display: none;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos {
  width: 100%;
  left: 0;
  position: absolute;
  top: 95px;
  display: none;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav {
  height: 100vh;
  background-color: rgba(87, 46, 229, 0.9);
  padding-top: 17px;
  transition: 0.3s ease all;
}
body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav {
  background-color: #000000;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li {
  text-align: center;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section {
  font-family: Montserrat-Bold;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  line-height: 60px;
  width: 100%;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .underscore-word {
  width: 41px;
  height: 0.1px;
  border: 0;
  background-color: #fff;
  opacity: 50%;
  margin: 0 auto;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type {
  display: none;
}
.section-header .container-logo-menu .menu-gifos .checkbox-input:checked ~ .bars-icon {
  display: none;
}
.section-header .container-logo-menu .menu-gifos .checkbox-input:checked ~ .close-icon {
  display: block;
}
.section-header .container-logo-menu .menu-gifos .checkbox-input:checked ~ .nav-gifos {
  display: block;
}
.section-header .container-logo-menu .menu-gifos .close-icon:checked {
  display: block;
  cursor: pointer;
}

.section-main-search {
  width: 100%;
}
.section-main-search.desactiveSection {
  display: none;
}
.section-main-search .title-gifos {
  max-width: 286px;
  font-family: Montserrat-Bold;
  font-size: 25px;
  font-weight: 700;
  color: #572EE5;
  line-height: 33px;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
}
body.dark .section-main-search .title-gifos {
  color: #fff;
}
.section-main-search .title-gifos .only-word-gifos {
  text-transform: uppercase;
  color: #5ED7C6;
}
.section-main-search .box-family-image {
  max-width: 273px;
  margin: 31px auto 0PX;
}
.section-main-search .box-family-image .family-image {
  width: 100%;
  object-fit: cover;
}
.section-main-search .container-search-gifos {
  width: 100%;
  max-width: 334px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 27px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body.dark .section-main-search .container-search-gifos {
  border-color: #fff;
}
.section-main-search .container-search-gifos .search-bar {
  width: 100%;
  border: none;
  margin-left: 55px;
  font-family: Robo-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding: 2px 0;
}
body.dark .section-main-search .container-search-gifos .search-bar {
  background-color: #37383C;
  color: #fff;
}
.section-main-search .container-search-gifos .search-icon {
  margin: 0 20px;
  color: #572EE5;
  font-size: 20px;
}
body.dark .section-main-search .container-search-gifos .search-icon {
  color: #fff;
}
.section-main-search .trending-section {
  margin-top: 31px;
}
.section-main-search .trending-section .subtitle-trending {
  font-family: Montserrat-Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}
.section-main-search .trending-section .words-trending {
  margin-top: 2px;
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 500;
  margin: 2px auto;
  line-height: 25px;
  text-transform: capitalize;
  max-width: 225px;
}
.section-main-search .trending-section .subtitle-trending, .section-main-search .trending-section .words-trending {
  color: #572EE5;
  text-align: center;
}
body.dark .section-main-search .trending-section .subtitle-trending, body.dark .section-main-search .trending-section .words-trending {
  color: #fff;
}

.section-favoritos {
  display: none;
}
.section-favoritos.activeSection {
  display: block;
}
.section-favoritos .container-title-favoritos {
  margin-top: 5px;
  text-align: center;
}
.section-favoritos .container-title-favoritos .icon-favoritos {
  width: 28px;
  margin-bottom: 7px;
}
.section-favoritos .container-title-favoritos .title-favoritos {
  font-family: Montserrat-Bold;
  font-size: 20px;
  color: #572EE5;
  line-height: 30px;
}
.section-favoritos .fav-sin-contenido {
  margin-top: 120px;
  text-align: center;
}
.section-favoritos .fav-sin-contenido .img-fav-sin-contenido {
  margin-bottom: 28px;
}
.section-favoritos .fav-sin-contenido .text-fav-sin-contenido {
  font-family: Montserrat-Bold;
  font-size: 20px;
  color: #5ED7C6;
  line-height: 30px;
  max-width: 310px;
  margin: 0 auto;
}

.section-mis-gifos {
  display: none;
}
.section-mis-gifos.activeSection {
  display: block;
}
.section-mis-gifos .container-title-mis-gifos {
  margin-top: 5px;
  text-align: center;
}
.section-mis-gifos .container-title-mis-gifos .icon-mis-gifos {
  margin-bottom: 6px;
}
.section-mis-gifos .container-title-mis-gifos .title-mis-gifos {
  font-family: Montserrat-Bold;
  font-size: 20px;
  color: #572EE5;
  line-height: 30px;
}
.section-mis-gifos .container-title-mis-gifos .title-mis-gifos .word-gifos {
  text-transform: uppercase;
}
.section-mis-gifos .mis-gifos-sin-contenido {
  margin-top: 130px;
  text-align: center;
}
.section-mis-gifos .mis-gifos-sin-contenido .img-mis-gifos-sin-contenido {
  margin-bottom: 35px;
}
.section-mis-gifos .mis-gifos-sin-contenido .text-mis-gifos-sin-contenido {
  font-family: Montserrat-Bold;
  font-size: 20px;
  color: #5ED7C6;
  line-height: 30px;
  max-width: 270px;
  margin: 0 auto;
}

.section-trending-gifos {
  width: 100%;
  height: 430px;
  background-color: #F3F5F8;
  text-align: center;
  margin-top: 45px;
}
body.dark .section-trending-gifos {
  background-color: #222326;
}
.section-trending-gifos .trending-title {
  padding: 40px 0 7px 0;
  line-height: 30px;
  font-size: 20px;
  color: #572EE5;
  font-family: Montserrat-Bold;
}
body.dark .section-trending-gifos .trending-title {
  color: #fff;
}
.section-trending-gifos .trending-text {
  padding-bottom: 32px;
  line-height: 23px;
  font-size: 16px;
  font-family: Roboto-Regular;
}
body.dark .section-trending-gifos .trending-text {
  color: #fff;
}

.section-footer {
  width: 100%;
  height: 196px;
}
.section-footer .footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.section-footer .footer .share {
  padding: 47px 0 47px 0;
  width: 100%;
}
.section-footer .footer .share .share-in {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Roboto-Regular;
}
body.dark .section-footer .footer .share .share-in {
  color: #fff;
}
.section-footer .footer .share .content-icon {
  text-align: center;
  padding-top: 24px;
  word-spacing: 19px;
}
.section-footer .footer .share .content-icon .netwrorks {
  color: #CDD6E0;
}
.section-footer .footer .share .content-icon .netwrorks:hover {
  color: #572ee5;
}
body.dark .section-footer .footer .share .content-icon .netwrorks:hover {
  color: #fff;
}
.section-footer .footer .reserved {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto-Regular;
}
body.dark .section-footer .footer .reserved {
  color: #fff;
}
.section-footer .footer::before {
  background: #572EE5;
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: 196px;
}

@media (min-width: 500px) {
  br {
    display: none;
  }
}
@media (min-width: 750px) {
  .section-header .container-logo-menu {
    margin: 18px 70px 13px;
  }
  .section-header .container-logo-menu .link-logo-gifos .box-logo-gifos {
    width: 59px;
  }
  .section-header .container-logo-menu .menu-gifos .checkbox-input {
    display: none;
  }
  .section-header .container-logo-menu .menu-gifos .bars-icon {
    display: none;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos {
    display: inline-block;
    position: relative;
    top: 0;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav {
    display: flex;
    align-items: center;
    height: auto;
    background-color: #fff;
    padding-top: 0;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav {
    background-color: #37383C;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section {
    font-size: 12px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #572EE5;
    margin-right: 30px;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section {
    color: #fff;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section.activeLink {
    color: #9CAFC3;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section:active {
    color: #9CAFC3;
    border-bottom: none;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .underscore-word {
    display: none;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type {
    display: inline-block;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon {
    width: 42px;
    height: 42px;
    border: 1px solid #572EE5;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon {
    background-color: transparent;
    border-color: #fff;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon .plus-icon {
    color: #572EE5;
    font-size: 36px;
    padding: 9px;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon .plus-icon {
    color: #fff;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:hover {
    background-color: #572EE5;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:hover > .plus-icon {
    color: #fff;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:hover {
    background-color: #fff;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:hover > .plus-icon {
    color: #000000;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:active {
    border-color: #9CAFC3;
    background-color: #9CAFC3;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:active {
    border-color: #9CAFC3;
    background-color: #9CAFC3;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:active > .plus-icon {
    color: #fff;
  }

  .section-main-search {
    margin-top: 76px;
  }
  .section-main-search .title-gifos {
    max-width: 954px;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    padding: 0 210px;
  }
  .section-main-search .box-family-image {
    max-width: 399px;
    margin-top: 24px;
  }
  .section-main-search .container-search-gifos {
    max-width: 551px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-main-search .container-search-gifos .search-bar {
    color: #9CAFC3;
  }
  .section-main-search .trending-section {
    margin-top: 73px;
  }
  .section-main-search .trending-section .subtitle-trending {
    font-size: 18px;
  }
  .section-main-search .trending-section .words-trending {
    margin-top: 7px;
    font-size: 16px;
    max-width: none;
  }

  .section-favoritos .container-title-section {
    margin-top: 11px;
  }
  .section-favoritos .container-title-section .icon-favoritos {
    margin-bottom: 8px;
  }
  .section-favoritos .container-title-section .title-favoritos {
    font-size: 25px;
  }
  .section-favoritos .fav-sin-contenido {
    margin-top: 110px;
  }
  .section-favoritos .fav-sin-contenido .img-fav-sin-contenido {
    margin-bottom: 24px;
  }
  .section-favoritos .fav-sin-contenido .text-fav-sin-contenido {
    font-size: 22px;
    line-height: 33px;
    max-width: 430px;
  }

  .section-mis-gifos .container-title-mis-gifos {
    margin-top: 10px;
  }
  .section-mis-gifos .container-title-mis-gifos .icon-mis-gifos {
    margin-bottom: 8px;
  }
  .section-mis-gifos .container-title-mis-gifos .title-mis-gifos {
    font-size: 22px;
    line-height: 30px;
  }
  .section-mis-gifos .mis-gifos-sin-contenido {
    margin-top: 111px;
  }
  .section-mis-gifos .mis-gifos-sin-contenido .img-mis-gifos-sin-contenido {
    margin-bottom: 40px;
  }
  .section-mis-gifos .mis-gifos-sin-contenido .text-mis-gifos-sin-contenido {
    font-size: 22px;
    max-width: none;
  }
}
@media (min-width: 1440px) {
  .section-header .container-logo-menu {
    margin: 23px 156px 13px;
  }
  .section-header .container-logo-menu .link-logo-gifos .box-logo-gifos {
    width: 60px;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section {
    font-size: 13px;
    margin-right: 45px;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon {
    width: 54px;
    height: 54px;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon .plus-icon {
    font-size: 45px;
    padding: 12px;
  }

  .section-mis-gifos .container-title-mis-gifos .title-mis-gifos {
    font-size: 25px;
  }
  .section-mis-gifos .mis-gifos-sin-contenido .text-mis-gifos-sin-contenido {
    line-height: 25px;
  }

  .section-trending-gifos {
    width: 100%;
    height: 640px;
    background-color: #F3F5F8;
    margin-top: 95px;
  }
  .section-trending-gifos .trending-title {
    padding: 67px 0 12px 0;
    font-size: 25px;
  }
  .section-trending-gifos .trending-text {
    padding-bottom: 53px;
    font-size: 18px;
  }

  .section-footer {
    height: 116px;
  }
  .section-footer .footer .share {
    display: flex;
    padding: 50px 0 57px 156px;
    width: 50%;
  }
  .section-footer .footer .share .share-in {
    font-size: 13px;
    margin-right: 17px;
  }
  .section-footer .footer .share .content-icon {
    text-align: center;
    padding-top: 0;
    word-spacing: 19px;
  }
  .section-footer .footer .reserved {
    width: 50%;
    font-size: 13px;
    letter-spacing: 0;
    padding: 50px 158px 57px 0;
    text-align: end;
  }
  .section-footer .footer::before {
    background: #572EE5;
    content: "";
    position: absolute;
    top: 116px;
  }
}

/*# sourceMappingURL=style.css.map */
