* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea, select, input, button {
  outline: none;
}

@font-face {
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-family: "Montserrat-Bold";
}
@font-face {
  src: url("../assets/fonts/Montserrat-Medium.ttf");
  font-family: "Montserrat-Medium";
}
@font-face {
  src: url("../assets/fonts/Roboto-Black.ttf");
  font-family: "Roboto-Black";
}
@font-face {
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-family: "Roboto-Bold";
}
@font-face {
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-family: "Roboto-Regular";
}
.dark-mode .modo-diurno {
  display: none;
}
.dark-mode.active .modo-nocturno {
  display: none;
}
.dark-mode.active .modo-diurno {
  display: inline-block;
}

.boxGifoSearch {
  width: 156px;
  height: 120px;
}
.boxGifoSearch .gifoSearch {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  transition: 0.3s ease all;
}
body.dark {
  background-color: #37383C;
}

.section-header {
  width: 100%;
  position: relative;
}
.section-header .blue-line-up {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}
body.dark .section-header .blue-line-up {
  background-color: #000000;
}
.section-header .container-logo-menu {
  margin: 29px 26px 17px 22px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.section-header .container-logo-menu .link-logo-gifos .box-logo-gifos {
  width: 49px;
}
.section-header .container-logo-menu .link-logo-gifos .box-logo-gifos .logo-gifos {
  width: 100%;
  object-fit: cover;
}
.section-header .container-logo-menu .menu-gifos .checkbox-input {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 20px;
  top: 50px;
  width: 20px;
  height: 20px;
  opacity: 0;
  cursor: pointer;
}
.section-header .container-logo-menu .menu-gifos .bars-icon,
.section-header .container-logo-menu .menu-gifos .close-icon {
  transition: 0.4s ease all;
  color: #572EE5;
  font-size: 20px;
}
body.dark .section-header .container-logo-menu .menu-gifos .bars-icon,
body.dark .section-header .container-logo-menu .menu-gifos .close-icon {
  color: #fff;
}
.section-header .container-logo-menu .menu-gifos .close-icon {
  display: none;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos {
  width: 100%;
  left: 0;
  position: absolute;
  top: 95px;
  display: none;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav {
  height: 100vh;
  background-color: rgba(87, 46, 229, 0.9);
  padding-top: 17px;
  transition: 0.3s ease all;
}
body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav {
  background-color: #000000;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li {
  text-align: center;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section {
  font-family: Montserrat-Bold;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  line-height: 60px;
  width: 100%;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .underscore-word {
  width: 41px;
  height: 0.1px;
  border: 0;
  background-color: #fff;
  opacity: 50%;
  margin: 0 auto;
}
.section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type {
  display: none;
}
.section-header .container-logo-menu .menu-gifos .checkbox-input:checked ~ .bars-icon {
  display: none;
}
.section-header .container-logo-menu .menu-gifos .checkbox-input:checked ~ .close-icon {
  display: block;
}
.section-header .container-logo-menu .menu-gifos .checkbox-input:checked ~ .nav-gifos {
  display: block;
}
.section-header .container-logo-menu .menu-gifos .close-icon:checked {
  display: block;
  cursor: pointer;
}

.section-main-search {
  width: 100%;
}
.section-main-search.desactiveSection {
  display: none;
}
.section-main-search .title-gifos {
  max-width: 286px;
  font-family: Montserrat-Bold;
  font-size: 25px;
  font-weight: 700;
  color: #572EE5;
  line-height: 33px;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
}
body.dark .section-main-search .title-gifos {
  color: #fff;
}
.section-main-search .title-gifos .only-word-gifos {
  text-transform: uppercase;
  color: #5ED7C6;
}
.section-main-search .box-family-image {
  max-width: 273px;
  margin: 31px auto 0px;
}
.section-main-search .box-family-image .family-image {
  width: 100%;
  object-fit: cover;
  display: block;
}
.section-main-search .container-search-gifos {
  width: 100%;
  max-width: 334px;
  height: auto;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #572EE5;
  border-radius: 27px;
  margin: 0 auto;
}
body.dark .section-main-search .container-search-gifos {
  border-color: #fff;
}
.section-main-search .container-search-gifos .search-bar {
  width: 80%;
  height: 22px;
  border: none;
  font-family: Roboto-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin: 15px 5px 13px 55px;
}
body.dark .section-main-search .container-search-gifos .search-bar {
  background-color: #37383C;
  color: #fff;
}
.section-main-search .container-search-gifos .button-search {
  position: absolute;
  right: 0;
  top: 15px;
  border: none;
  margin: 0 20px;
  cursor: pointer;
  color: #572EE5;
  background-color: transparent;
}
.section-main-search .container-search-gifos .button-search.activeSearch {
  left: 0;
  color: #9CAFC3;
}
.section-main-search .container-search-gifos .button-search .search-icon {
  color: inherit;
  font-size: 20px;
}
body.dark .section-main-search .container-search-gifos .button-search .search-icon {
  color: #fff;
}
.section-main-search .container-search-gifos .button-clean {
  display: none;
  position: absolute;
  right: 0;
  top: 15px;
  border: none;
  margin: 0 20px;
  cursor: pointer;
  background-color: transparent;
}
.section-main-search .container-search-gifos .button-clean.activeSearch {
  display: block;
  right: 0;
}
.section-main-search .container-search-gifos .button-clean.activeSection {
  display: block;
}
.section-main-search .container-search-gifos .button-clean .clean-icon {
  color: #572EE5;
  font-size: 20px;
}
body.dark .section-main-search .container-search-gifos .button-clean .clean-icon {
  color: #fff;
}
.section-main-search .container-search-gifos .line-search-section {
  display: none;
  width: 90%;
  height: 2px;
  margin: 0 auto 14px;
  opacity: 0.5;
  border: 1px solid #9CAFC3;
}
.section-main-search .container-search-gifos .line-search-section.activeSection {
  display: block;
}
.section-main-search .container-search-gifos .container-suggestions-search {
  display: none;
  width: 100%;
}
.section-main-search .container-search-gifos .container-suggestions-search.activeSection {
  display: block;
}
.section-main-search .suggestion {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  display: none;
}
.section-main-search .suggestion:last-child {
  margin-bottom: 18px;
}
.section-main-search .suggestion .search-icon-suggestion {
  width: 15.8px;
  color: #9CAFC3;
  margin: 0 14.5px 0 23.5px;
}
.section-main-search .suggestion .input-suggestion {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #9CAFC3;
  text-align: left;
  border: none;
}
.section-main-search .trending-section {
  margin: 31px 0px 35px;
}
.section-main-search .trending-section.desactiveSection {
  display: none;
}
.section-main-search .trending-section .subtitle-trending {
  font-family: Montserrat-Bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 7px;
}
.section-main-search .trending-section .words-trending {
  margin-top: 2px;
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 500;
  margin: 2px auto;
  line-height: 25px;
  text-transform: capitalize;
  max-width: 225px;
}
.section-main-search .trending-section .subtitle-trending,
.section-main-search .trending-section .box-words-trending {
  color: #572EE5;
  text-align: center;
}
body.dark .section-main-search .trending-section .subtitle-trending,
body.dark .section-main-search .trending-section .box-words-trending {
  color: #fff;
}
.section-main-search .line-section {
  display: none;
  width: 157px;
  height: 1px;
  border: 1px solid #9cafc3;
  opacity: 0.5;
  margin: 35px auto 0;
}
.section-main-search .line-section.activeSection {
  display: block;
}
.section-main-search .line-section.search-sin-contenido.active {
  display: block;
}
.section-main-search .section-gifos-search {
  text-align: center;
}
.section-main-search .section-gifos-search .title-search {
  font-family: Montserrat-Bold;
  font-size: 25px;
  text-transform: capitalize;
  color: #572EE5;
  line-height: 30px;
  margin-top: 43px;
}
body.dark .section-main-search .section-gifos-search .title-search {
  color: #fff;
}
.section-main-search .section-gifos-search .search-sin-contenido {
  display: none;
  text-align: center;
}
.section-main-search .section-gifos-search .search-sin-contenido.activeSection {
  display: block;
}
.section-main-search .section-gifos-search .search-sin-contenido .img-search-sin-contenido {
  margin-top: 50px;
}
.section-main-search .section-gifos-search .search-sin-contenido .text-search-sin-contenido {
  font-family: Montserrat-Bold;
  font-size: 18px;
  color: #5ED7C6;
  line-height: 25px;
  margin-top: 29px;
}
.section-main-search .section-gifos-search .search-con-contenido {
  padding-top: 38px;
  display: none;
}
.section-main-search .section-gifos-search .search-con-contenido.activeSection {
  display: block;
}
.section-main-search .section-gifos-search .search-con-contenido .container-gifos-search {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 15px;
}
.section-main-search .section-gifos-search .search-con-contenido .button-ver-mas {
  width: 127px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  font-family: Montserrat-Bold;
  font-size: 13px;
  color: #572ee5;
  letter-spacing: 0;
  margin-top: 78px;
  cursor: pointer;
}

.section-favoritos {
  display: none;
}
.section-favoritos.activeSection {
  display: block;
}
.section-favoritos .container-title-favoritos {
  margin-top: 5px;
  text-align: center;
}
.section-favoritos .container-title-favoritos .icon-favoritos {
  width: 28px;
  margin-bottom: 7px;
}
.section-favoritos .container-title-favoritos .title-favoritos {
  font-family: Montserrat-Bold;
  font-size: 20px;
  color: #572EE5;
  line-height: 30px;
}
.section-favoritos .fav-sin-contenido {
  margin-top: 120px;
  text-align: center;
}
.section-favoritos .fav-sin-contenido .img-fav-sin-contenido {
  margin-bottom: 28px;
}
.section-favoritos .fav-sin-contenido .text-fav-sin-contenido {
  font-family: Montserrat-Bold;
  font-size: 20px;
  color: #5ED7C6;
  line-height: 30px;
  max-width: 310px;
  margin: 0 auto;
}

.section-mis-gifos {
  display: none;
}
.section-mis-gifos.activeSection {
  display: block;
}
.section-mis-gifos .container-title-mis-gifos {
  margin-top: 5px;
  text-align: center;
}
.section-mis-gifos .container-title-mis-gifos .icon-mis-gifos {
  margin-bottom: 6px;
}
.section-mis-gifos .container-title-mis-gifos .title-mis-gifos {
  font-family: Montserrat-Bold;
  font-size: 20px;
  color: #572EE5;
  line-height: 30px;
}
.section-mis-gifos .container-title-mis-gifos .title-mis-gifos .word-gifos {
  text-transform: uppercase;
}
.section-mis-gifos .mis-gifos-sin-contenido {
  margin-top: 130px;
  text-align: center;
}
.section-mis-gifos .mis-gifos-sin-contenido .img-mis-gifos-sin-contenido {
  margin-bottom: 35px;
}
.section-mis-gifos .mis-gifos-sin-contenido .text-mis-gifos-sin-contenido {
  font-family: Montserrat-Bold;
  font-size: 20px;
  color: #5ED7C6;
  line-height: 30px;
  max-width: 270px;
  margin: 0 auto;
}

.container_template {
  display: none;
  position: relative;
  margin-left: 21px;
  margin-bottom: 25px;
  transition: 0.3s ease-in-out;
  width: 156px;
  height: 120px;
}
.container_template.class-gifo-list {
  margin: 0;
  margin-right: 22px;
  width: 243px;
  height: 187px;
}
.container_template.class-gifo-list .container_template-hover .users {
  margin: 139px 0 0 18px;
  color: #ffffff;
  text-align: left;
}
.container_template.class-gifo-list .container_template-hover .titles {
  margin: 6px 0 51px 18px;
  color: #ffffff;
  text-align: left;
}
.container_template .gif_clone {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.container_template .container_template-hover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #572ee5;
}
.container_template .container_template-hover .icons_container_template {
  height: 42px;
  display: flex;
  justify-content: flex-end;
}
.container_template .container_template-hover .icons_container_template .top_icons {
  margin: 10px 10px 0 0;
  cursor: pointer;
}
.container_template .container_template-hover .icons_container_template .top_icons .top_icons-hover {
  display: none;
}
.container_template .container_template-hover .icons_container_template .top_icons:hover .top_icons_simple {
  display: none;
  cursor: pointer;
}
.container_template .container_template-hover .icons_container_template .top_icons:hover .top_icons-hover {
  display: block;
  cursor: pointer;
}
.container_template .container_template-hover .users {
  margin: 90px 0 0 13px;
  color: #ffffff;
  text-align: left;
}
.container_template .container_template-hover .titles {
  margin: 5px 0 27px 12px;
  color: #ffffff;
  text-align: left;
}

.section-trending-gifos {
  margin-top: 100px;
  text-align: center;
  height: 430px;
  background: #F3F5F8;
  padding-top: 46px;
}
body.dark .section-trending-gifos {
  background-color: #222326;
}
.section-trending-gifos .subtitle-trending-gifos {
  font-family: Montserrat-Bold;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}
body.dark .section-trending-gifos .subtitle-trending-gifos {
  color: #fff;
}
.section-trending-gifos .letter-trending-gifos {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
  margin-top: 7px;
}
body.dark .section-trending-gifos .letter-trending-gifos {
  color: #fff;
}
.section-trending-gifos .gifos-carousel-container .carousel-container {
  margin-top: 32px;
  padding-left: 22px;
  display: inline-block;
  width: 100%;
  height: 187px;
}
.section-trending-gifos .gifos-carousel-container .carousel-container .carousel {
  height: inherit;
  white-space: nowrap;
  overflow: scroll;
}
.section-trending-gifos .gifos-carousel-container .carousel-container .carousel::-webkit-scrollbar {
  display: none;
}
.section-trending-gifos .gifos-carousel-container .content-sliders {
  display: none;
}
.section-trending-gifos .gifos-carousel-container .content-sliders .btn-icon-hover {
  display: none;
}

.section-footer {
  width: 100%;
  height: 196px;
}
.section-footer .footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.section-footer .footer .share {
  padding: 47px 0 47px 0;
  width: 100%;
}
.section-footer .footer .share .share-in {
  font-size: 15px;
  letter-spacing: 0;
  font-family: Roboto-Regular;
}
body.dark .section-footer .footer .share .share-in {
  color: #fff;
}
.section-footer .footer .share .content-icon {
  text-align: center;
  padding-top: 24px;
  word-spacing: 19px;
}
.section-footer .footer .share .content-icon .netwrorks {
  color: #CDD6E0;
}
.section-footer .footer .share .content-icon .netwrorks:hover {
  color: #572ee5;
}
body.dark .section-footer .footer .share .content-icon .netwrorks:hover {
  color: #fff;
}
.section-footer .footer .reserved {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto-Regular;
}
body.dark .section-footer .footer .reserved {
  color: #fff;
}
.section-footer .footer::before {
  background: #572EE5;
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: 196px;
}
body.dark .section-footer .footer::before {
  background-color: #000000;
}

@media (min-width: 500px) {
  br {
    display: none;
  }
}
@media (min-width: 750px) {
  .boxGifoSearch {
    width: 200px;
    height: 180px;
  }

  .section-header .container-logo-menu {
    margin: 18px 70px 13px;
  }
  .section-header .container-logo-menu .link-logo-gifos .box-logo-gifos {
    width: 59px;
  }
  .section-header .container-logo-menu .menu-gifos .checkbox-input {
    display: none;
  }
  .section-header .container-logo-menu .menu-gifos .bars-icon {
    display: none;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos {
    display: inline-block;
    position: relative;
    top: 0;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav {
    display: flex;
    align-items: center;
    height: auto;
    background-color: #fff;
    padding-top: 0;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav {
    background-color: #37383C;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section {
    font-size: 12px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #572EE5;
    margin-right: 30px;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section {
    color: #fff;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section.activeLink {
    color: #9CAFC3;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section:active {
    color: #9CAFC3;
    border-bottom: none;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .underscore-word {
    display: none;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type {
    display: inline-block;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon {
    width: 42px;
    height: 42px;
    border: 1px solid #572EE5;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon {
    background-color: transparent;
    border-color: #fff;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon .plus-icon {
    color: #572EE5;
    font-size: 36px;
    padding: 9px;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon .plus-icon {
    color: #fff;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:hover {
    background-color: #572EE5;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:hover > .plus-icon {
    color: #fff;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:hover {
    background-color: #fff;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:hover > .plus-icon {
    color: #000000;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:active {
    border-color: #9CAFC3;
    background-color: #9CAFC3;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:active {
    border-color: #9CAFC3;
    background-color: #9CAFC3;
  }
  body.dark .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon:active > .plus-icon {
    color: #fff;
  }

  .section-main-search {
    margin-top: 76px;
  }
  .section-main-search .title-gifos {
    max-width: 954px;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    padding: 0 210px;
  }
  .section-main-search .box-family-image {
    max-width: 399px;
    margin-top: 24px;
  }
  .section-main-search .container-search-gifos {
    max-width: 551px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-main-search .container-search-gifos .search-bar {
    color: #9CAFC3;
  }
  .section-main-search .trending-section {
    margin: 73px 0px;
  }
  .section-main-search .trending-section .subtitle-trending {
    font-size: 18px;
  }
  .section-main-search .trending-section .words-trendings {
    margin-top: 7px;
    font-size: 16px;
    max-width: none;
  }
  .section-main-search .line-section {
    width: 338px;
    height: 0.1px;
    margin-top: 65px;
  }
  .section-main-search .section-gifos-search .title-search {
    font-size: 30px;
    margin-top: 84px;
  }
  .section-main-search .section-gifos-search .search-sin-contenido .img-search-sin-contenido {
    margin-top: 109px;
  }
  .section-main-search .section-gifos-search .search-sin-contenido .text-search-sin-contenido {
    font-size: 22px;
  }
  .section-main-search .section-gifos-search .search-con-contenido {
    padding-top: 60px;
  }
  .section-main-search .section-gifos-search .search-con-contenido .container-gifos-search {
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(4, 190px);
    justify-content: center;
    gap: 30px;
  }

  .section-favoritos .container-title-section {
    margin-top: 11px;
  }
  .section-favoritos .container-title-section .icon-favoritos {
    margin-bottom: 8px;
  }
  .section-favoritos .container-title-section .title-favoritos {
    font-size: 25px;
  }
  .section-favoritos .fav-sin-contenido {
    margin-top: 110px;
  }
  .section-favoritos .fav-sin-contenido .img-fav-sin-contenido {
    margin-bottom: 24px;
  }
  .section-favoritos .fav-sin-contenido .text-fav-sin-contenido {
    font-size: 22px;
    line-height: 33px;
    max-width: 430px;
  }

  .section-mis-gifos .container-title-mis-gifos {
    margin-top: 10px;
  }
  .section-mis-gifos .container-title-mis-gifos .icon-mis-gifos {
    margin-bottom: 8px;
  }
  .section-mis-gifos .container-title-mis-gifos .title-mis-gifos {
    font-size: 22px;
    line-height: 30px;
  }
  .section-mis-gifos .mis-gifos-sin-contenido {
    margin-top: 111px;
  }
  .section-mis-gifos .mis-gifos-sin-contenido .img-mis-gifos-sin-contenido {
    margin-bottom: 40px;
  }
  .section-mis-gifos .mis-gifos-sin-contenido .text-mis-gifos-sin-contenido {
    font-size: 22px;
    max-width: none;
  }
}
@media (min-width: 1124px) {
  .boxGifoSearch {
    width: 260px;
    height: 200px;
  }

  .section-header .container-logo-menu {
    margin: 23px 156px 13px;
  }
  .section-header .container-logo-menu .link-logo-gifos .box-logo-gifos {
    width: 60px;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li .links-section {
    font-size: 13px;
    margin-right: 45px;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon {
    width: 54px;
    height: 54px;
  }
  .section-header .container-logo-menu .menu-gifos .nav-gifos .list-menu-nav li:last-of-type .button-plus-icon .plus-icon {
    font-size: 45px;
    padding: 12px;
  }

  .section-main-search .line-section {
    margin-top: 75px;
  }
  .section-main-search .section-gifos-search .search-con-contenido .container-gifos-search {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    gap: 30px;
  }

  .section-mis-gifos .container-title-mis-gifos .title-mis-gifos {
    font-size: 25px;
  }
  .section-mis-gifos .mis-gifos-sin-contenido .text-mis-gifos-sin-contenido {
    line-height: 25px;
  }

  .container_template {
    margin-left: 29px;
    margin-bottom: 28px;
    width: 260px;
    height: 200px;
  }
  .container_template.class-gifo-list {
    margin-right: 30px;
    width: 357px;
    height: 275px;
  }
  .container_template.class-gifo-list:last-child {
    margin: 0;
  }
  .container_template:hover .container_template-hover {
    display: block;
  }

  .section-trending-gifos {
    margin-top: 95px;
    height: 640px;
  }
  .section-trending-gifos .title-class-gifo-lists {
    padding-top: 67px;
  }
  .section-trending-gifos .content-class-gifo-lists {
    margin-top: 12px;
  }
  .section-trending-gifos .gifos-carousel-container {
    display: flex;
    margin: auto;
    margin-top: 53px;
    width: 90%;
    max-width: 1285px;
  }
  .section-trending-gifos .gifos-carousel-container .carousel-container {
    padding: 0;
    margin-top: 0;
    max-width: 1161px;
    height: 275px;
    display: inline-block;
    overflow: hidden;
  }
  .section-trending-gifos .gifos-carousel-container .carousel-container .carousel {
    height: 275px;
    overflow: hidden;
  }
  .section-trending-gifos .gifos-carousel-container .content-sliders {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 119px;
  }
  .section-trending-gifos .gifos-carousel-container .content-sliders.left {
    margin-right: 22px;
  }
  .section-trending-gifos .gifos-carousel-container .content-sliders.right {
    margin-left: -8px;
  }
  .section-trending-gifos .gifos-carousel-container .content-sliders:hover .btn-icon {
    display: none;
  }
  .section-trending-gifos .gifos-carousel-container .content-sliders:hover .btn-icon-hover {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .section-trending-gifos {
    width: 100%;
    height: 640px;
    background-color: #F3F5F8;
    margin-top: 95px;
  }
  .section-trending-gifos .trending-title {
    padding: 67px 0 12px 0;
    font-size: 25px;
  }
  .section-trending-gifos .trending-text {
    padding-bottom: 53px;
    font-size: 18px;
  }

  .section-footer {
    height: 116px;
  }
  .section-footer .footer .share {
    display: flex;
    padding: 50px 0 57px 156px;
    width: 50%;
  }
  .section-footer .footer .share .share-in {
    font-size: 13px;
    margin-right: 17px;
  }
  .section-footer .footer .share .content-icon {
    text-align: center;
    padding-top: 0;
    word-spacing: 19px;
  }
  .section-footer .footer .reserved {
    width: 50%;
    font-size: 13px;
    letter-spacing: 0;
    padding: 50px 158px 57px 0;
    text-align: end;
  }
  .section-footer .footer::before {
    background: #572EE5;
    content: "";
    position: absolute;
    top: 122px;
  }
}

/*# sourceMappingURL=style.css.map */
