$font-gray : #F3F5F8;
$white-color: #fff;
$primary-color: #572EE5;
$secondary-color: #5ED7C6;
$ternary-color: #9CAFC3;
$color-icons-social-media: #CDD6E0;
$color-icons-hover:rgb(87, 46, 229);
$background-dark-mode: #37383C;
$color-black: #000000;
$menu-hamburguer-size: 20px;