@import 'reset.scss';
@import 'variables.scss';
@import 'typography.scss';

// Codigo para cambiar el texto de modo nocturno y modo diurno
.dark-mode {
  .modo-diurno {
    display: none;
  }
  &.active {
    .modo-nocturno {
      display: none;
    }
    .modo-diurno {
      display: inline-block;
    }
  }
}

// Mixins para el Modo Nocturno 
@mixin darkmode-white-color {
  body.dark & {
    color: $white-color;
  }
}
@mixin darkmode-black-background {
  body.dark & {
    background-color: #000000;
  }
}

// Mixins para activar y desactivar secciones
@mixin activeSection {
  &.activeSection {
    display: block;
  }
}
@mixin desactiveSection {
  &.desactiveSection {
    display: none;
  }
}

// Estilos a la caja de los gifos
.boxGifoSearch {
  width: 156px;
  height: 120px;
  margin: 25px 10px;
}
// Estilos a los gifos
.gifoSearch {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Estilos vista Mobile First 
body {
  transition: .3s ease all;
  &.dark { // Estilo que se aplicará al body cuando se active la clase Dark
    background-color: $background-dark-mode;
  }
}
.section-header {
  width: 100%;
  position: relative;
  .blue-line-up {
    width: 100%;
    height: 5px;
    background-color: $primary-color;
    @include darkmode-black-background();
  }
  .container-logo-menu {
    margin: 29px 26px 17px 22px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .link-logo-gifos {
      .box-logo-gifos {
        width: 49px;
        .logo-gifos {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .menu-gifos {
      .checkbox-input {
        position: absolute;
        margin: 0;
        padding: 0;
        right: 20px;
        top: 50px;
        width: $menu-hamburguer-size;
        height: $menu-hamburguer-size;
        opacity: 0;
        cursor: pointer;
      }
      .bars-icon, .close-icon {
        transition: .4s ease all;
        color: $primary-color;
        font-size: $menu-hamburguer-size;
        @include darkmode-white-color();
      }
      .close-icon {
        display: none;
      }
      .nav-gifos {
        width: 100%;
        left: 0;
        position: absolute;
        top: 95px;
        display: none;
        .list-menu-nav {
          height: 100vh;
          background-color: rgba(87,46,229,0.90);
          padding-top: 17px;
          transition: .3s ease all;
          @include darkmode-black-background();
          li {
            text-align: center;
            .links-section {
              font-family: Montserrat-Bold;
              font-size: 15px;
              font-weight: 700;
              color: $white-color;
              line-height: 60px;
              width: 100%;
            }
            .underscore-word {
              width: 41px;
              height: 0.1px;
              border: 0;
              background-color: $white-color;
              opacity: 50%;
              margin: 0 auto;
            }
            &:last-of-type {
              display: none;
            }
          }
        }
      }
      .checkbox-input:checked {
        &~.bars-icon {
          display: none;
        }
        &~.close-icon {
          display: block;
        }
        &~.nav-gifos {
          display: block;
        }
      }
      .close-icon:checked {
        display: block;
        cursor: pointer;
      }
    }
  }
}
.section-main-search {
  width: 100%;
  &.desactiveSection {
    display: none;
  }
  .title-gifos {
    max-width: 286px;
    font-family: Montserrat-Bold;
    font-size: 25px;
    font-weight: 700;
    color: $primary-color;
    line-height: 33px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    @include darkmode-white-color();
    .only-word-gifos {
      text-transform: uppercase;
      color: $secondary-color;
    }
  }
  .box-family-image {
    max-width: 273px;
    margin: 31px auto 0PX;
    .family-image {
      width: 100%;
      object-fit: cover;
    }
  }
  .container-search-gifos {
    width: 100%;
    max-width: 334px;
    height: 50px;
    border: 1px solid $primary-color;
    border-radius: 27px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    body.dark & {
      border-color: $white-color;
    }
    .search-bar {
      width: 100%;
      border: none;
      margin-left: 55px;
      font-family: Roboto-Regular;
      font-size: 16px;
      font-weight: 400;
      color: #000000;
      padding: 2px 0;
      body.dark & {
        background-color: $background-dark-mode;
        color: $white-color;
      }
    }
    .button-search {
      border: none;
      margin: 0 20px;
      cursor: pointer;
      background-color: transparent;
      .search-icon {
        color: $primary-color;
        font-size: 20px;
        @include darkmode-white-color();
      }
    }
  }
  .trending-section {
    margin: 31px 0px 35px;
    .subtitle-trending {
      font-family: Montserrat-Bold;
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
    }
    .words-trending {
      margin-top: 2px;
      font-family: Montserrat-Medium;
      font-size: 14px;
      font-weight: 500;
      margin: 2px auto;
      line-height: 25px;
      text-transform: capitalize;
      max-width: 225px;
    }
    .subtitle-trending, .box-words-trending {
      color: $primary-color;
      text-align: center;
      @include darkmode-white-color();
    }
  }
  .line-section {
    display: none;
    width: 157px;
    height: 1px;
    border: 1px solid #9CAFC3;
    opacity: 0.5;
    margin: 0 auto;
    @include activeSection();
    &.search-sin-contenido.active {
      display: block;
    }
  }
  .section-gifos-search {
    .search-sin-contenido {
      display: none;
      text-align: center;
      @include activeSection();
      h3 {
        font-family: Montserrat-Bold;
        font-size: 25px;
        color: $primary-color;
        line-height: 30px;
        margin-top: 43px;
      }
      .img-search-sin-contenido {
        margin-top: 50px;
      }
      .text-search-sin-contenido {
        font-family: Montserrat-Bold;
        font-size: 18px;
        color: $secondary-color;
        line-height: 25px;
        margin-top: 29px;
      }
    }
    .container-gifos-search {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
  }
}
.section-favoritos {
  display: none;
  &.activeSection { // Se muestra el contenido cuando se activa la clase desde JS
    display: block;
  }
  // Estilos a la seccion title e icono Fav
  .container-title-favoritos {
    margin-top: 5px;
    text-align: center;
    .icon-favoritos {
      width: 28px;
      margin-bottom: 7px;
    }
    .title-favoritos {
      font-family: Montserrat-Bold;
      font-size: 20px;
      color: $primary-color;
      line-height: 30px;
    }
  }
  // Estilos a la seccion fav sin contenido
  .fav-sin-contenido {
    margin-top: 120px;
    text-align: center;
    .img-fav-sin-contenido {
      margin-bottom: 28px;
    }
    .text-fav-sin-contenido {
      font-family: Montserrat-Bold;
      font-size: 20px;
      color: $secondary-color;
      line-height: 30px;
      max-width: 310px;
      margin: 0 auto;
    }
  }
}
.section-mis-gifos {
  display: none;
  &.activeSection { // Se muestra el contenido cuando se activa la clase desde JS
    display: block;
  }
  // Estilos a la seccion title e icono Mis GIFOS
  .container-title-mis-gifos {
    margin-top: 5px;
    text-align: center;
    .icon-mis-gifos {
      margin-bottom: 6px;
    }
    .title-mis-gifos {
      font-family: Montserrat-Bold;
      font-size: 20px;
      color: $primary-color;
      line-height: 30px;
      .word-gifos {
        text-transform: uppercase;
      }
    }
  }
  // Estilos a la seccion Mis GIFOS sin contenido
  .mis-gifos-sin-contenido {
    margin-top: 130px;
    text-align: center;
    .img-mis-gifos-sin-contenido {
      margin-bottom: 35px;
    }
    .text-mis-gifos-sin-contenido {
      font-family: Montserrat-Bold;
      font-size: 20px;
      color: $secondary-color;
      line-height: 30px;
      max-width: 270px;
      margin: 0 auto;
    }
  }
}
.section-trending-gifos{
  width: 100%;
  height: 430px;
  background-color: $font-gray;
  text-align: center;
  margin-top: 45px;
  body.dark & {
    background-color: #222326;
  }
  .trending-title{
    padding: 40px 0 7px 0;
    line-height: 30px;
    font-size: 20px;
    color: $primary-color;
    font-family: Montserrat-Bold;
    @include darkmode-white-color();
  }
  .trending-text{
    padding-bottom:32px;
    line-height: 23px;
    font-size: 16px;
    font-family: Roboto-Regular;
    @include darkmode-white-color();
  } 
}
.section-footer{
  width: 100%;
  height: 196px;
  .footer{
    position: relative;
    display: flex; 
    flex-wrap: wrap; 
    text-align: center;
    .share{
      padding: 47px 0 47px 0;
      width: 100%;
      .share-in{
        font-size: 15px;
        letter-spacing: 0;
        font-family: Roboto-Regular;
        @include darkmode-white-color();
      } 
      .content-icon{
        text-align: center;
        padding-top: 24px;
        word-spacing: 19px;
        .netwrorks{
          color:$color-icons-social-media;
        }
        .netwrorks:hover{
          color:$color-icons-hover;
          @include darkmode-white-color();
        }
      } 
    }
    .reserved{
      width: 100%; 
      font-size: 14px;
      line-height: 20px;
      font-family: Roboto-Regular; 
      @include darkmode-white-color();   
    }
  }
  .footer::before{
    background: $primary-color;
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    top: 196px;
  }
}

@media (min-width:500px){ // Mediaquerie para deshabilitar el salto de linea a los 500px
  br{ 
    display: none;
  }
}
@media (min-width:750px){
  .boxGifoSearch {
    width: 200px;
    height: 180px;
    margin: 25px 10px;
  }
  .section-header {
    .container-logo-menu {
      margin: 18px 70px 13px;
      .link-logo-gifos {
        .box-logo-gifos {
          width: 59px;
        }
      }
      .menu-gifos {
        .checkbox-input {
          display: none;
        }
        .bars-icon {
          display: none;
        }
        .nav-gifos {
          display: inline-block;
          position: relative;
          top: 0;
          .list-menu-nav {
            display: flex;
            align-items: center;
            height: auto;
            background-color: $white-color;
            padding-top: 0;
            body.dark & {
              background-color: $background-dark-mode;
            }
            li {
              .links-section {
                font-size: 12px;
                letter-spacing: 0;
                text-align: center;
                text-transform: uppercase;
                color: $primary-color;
                margin-right: 30px;
                @include darkmode-white-color();
                &.activeLink {
                  color: $ternary-color;
                }
              }
              .links-section:hover {
                border-bottom: 2px solid $secondary-color;
              }
              .links-section:active {
                color: $ternary-color;
                border-bottom: none;
              }
              .underscore-word {
                display: none;
              }
              &:last-of-type {
                display: inline-block;
                .button-plus-icon {
                  width: 42px;
                  height: 42px;
                  border: 1px solid $primary-color;
                  border-radius: 50%;
                  background-color: $white-color;
                  cursor: pointer;
                  body.dark & {
                    background-color: transparent;
                    border-color: $white-color;
                  }
                  .plus-icon {
                    color: $primary-color;
                    font-size: 36px;
                    padding: 9px;
                    body.dark & {
                      color: $white-color;
                    }
                  }
                }
                .button-plus-icon:hover {
                  background-color: $primary-color;
                  &>.plus-icon {
                    color: $white-color;
                  }
                  body.dark & {
                    background-color: $white-color;
                    &>.plus-icon {
                      color: #000000;
                    }
                  }
                }
                .button-plus-icon:active {
                  border-color: $ternary-color;
                  background-color: $ternary-color;
                  body.dark & {
                    border-color: $ternary-color;
                    background-color: $ternary-color;
                    &>.plus-icon {
                      color: $white-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .section-main-search {
    margin-top: 76px;
    .title-gifos {
      max-width: 954px;
      font-size: 35px;
      text-align: center;
      line-height: 50px;
      padding: 0 210px;
    }
    .box-family-image {
      max-width: 399px;
      margin-top: 24px;
    }
    .container-search-gifos {
      max-width: 551px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .search-bar {
        color: $ternary-color;
      }
    }
    .trending-section {
      margin: 73px 0px;
      .subtitle-trending {
        font-size: 18px;
      }
      .words-trending {
        margin-top: 7px;
        font-size: 16px;
        max-width: none;
      }
    } 
    .line-section {
      width: 338px;
      height: 0.1px;
    }
    .section-gifos-search {
      .search-sin-contenido {
        h3 {
          font-size: 30px;
          margin-top: 84px;
        }
        .img-search-sin-contenido {
          margin-top: 109px;
        }
        .text-search-sin-contenido {
          font-size: 22px;
        }
      } 
    }
  }
  .section-favoritos {
    .container-title-section { // Estilos a la seccion title e icono Fav
      margin-top:11px;
      .icon-favoritos {
        margin-bottom: 8px;
      }
      .title-favoritos {
        font-size: 25px;
      }
    }
    .fav-sin-contenido { // Estilos a la seccion fav sin contenido
      margin-top: 110px;
      .img-fav-sin-contenido {
        margin-bottom: 24px;
      }
      .text-fav-sin-contenido {
        font-size: 22px;
        line-height: 33px;
        max-width: 430px;
      }
    }
  } 
  .section-mis-gifos {
    .container-title-mis-gifos { // Estilos a la seccion title e icono Mis GIFOS
      margin-top: 10px;
      .icon-mis-gifos {
        margin-bottom: 8px;
      }
      .title-mis-gifos {
        font-size: 22px;
        line-height: 30px;
      }
    }
    .mis-gifos-sin-contenido { // Estilos a la seccion Mis GIFOS sin contenido
      margin-top: 111px;
      .img-mis-gifos-sin-contenido {
        margin-bottom: 40px;
      }
      .text-mis-gifos-sin-contenido {
        font-size: 22px;
        max-width: none;
      }
    }
  }
} 
@media (min-width:1440px){
  // Estilos a la caja de los gifos
  .boxGifoSearch {
    width: 260px;
    height: 200px;
    margin: 30px 15px;
  }
  .section-header {
    .container-logo-menu {
      margin: 23px 156px 13px;
      .link-logo-gifos {
        .box-logo-gifos {
          width: 60px;
        }
      }
      .menu-gifos {
        .nav-gifos {
          .list-menu-nav {
            li {
              .links-section {
                font-size: 13px;
                margin-right: 45px;
              }
              &:last-of-type {
                .button-plus-icon {
                  width: 54px;
                  height: 54px;       
                  .plus-icon {
                    font-size: 45px;
                    padding: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .section-mis-gifos {
    .container-title-mis-gifos {
      .title-mis-gifos {
        font-size: 25px;
      }
    }
    // Estilos a la seccion Mis GIFOS sin contenido
    .mis-gifos-sin-contenido {
      .text-mis-gifos-sin-contenido {
        line-height: 25px;
      }
    }
  }
  .section-trending-gifos{
    width: 100%;
    height: 640px;
    background-color: $font-gray;
    margin-top: 95px;
    .trending-title{
      padding: 67px 0 12px 0;
      font-size: 25px;
    }
    .trending-text{
      padding-bottom:53px;
      font-size: 18px;
    }  
  }
  .section-footer{
    height: 116px;
    .footer{
    //    justify-content: center;
      .share{
        display: flex;
        padding: 50px 0 57px 156px;
        width: 50%; 
        .share-in{
          font-size: 13px;
          margin-right: 17px; 
        } 
        .content-icon{
          text-align: center;
          padding-top: 0;
          word-spacing: 19px;
        } 
      }
      .reserved{
        width: 50%; 
        font-size: 13px;
        letter-spacing: 0;
        padding: 50px 158px 57px 0; 
        text-align: end;
      }
    }
    .footer::before{
      background: $primary-color;
      content: '';
      position: absolute;
      top: 116px;
    }
  }
}